//bibles

/*==========[ modules & sections ]==========*/
@import "modules/sprite";
@import "modules/functions";
@import "modules/reset";
@import "modules/fonts";
@import "modules/variables";

html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

/*==========[ imports ]==========*/
@import "sections/header-section";
@import "sections/footer-section";