@import '../../node_modules/bootstrap/scss/bootstrap-grid';


@import 'mixins';
@import 'fonts';
@import 'normalize';
@import 'variables';



html {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}
body {
    display: flex;
    position: relative;
    flex-direction: column;
}
